<div class="row align-items-center">
    <div class="col-md-4">
        <h2 style="padding-top:10px">Usuários</h2>
    </div>
    <div class="col-md-4">
        <form class="form-inline" style="padding-top:10px">
            <input type="search" (ngModelChange)="searchUsuarios(key.value)" #key="ngModel" ngModel
                name="key" id="searchName" class="form-control mr-sm-2" placeholder="Procurar Usuários..." required>
        </form>
    </div>
    <div class="col-md-4">
        <div class="d-flex align-items-center justify-content-end" style="padding-top:10px">
            <a (click)="onOpenModal(addUsuario, 'add')" class="btn btn-primary" style="background-color:#343a40;color:white;border-color:#343a40;"><i class="bx bx-plus me-1"></i>Adicionar</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div class="table-responsive">
                <table class="table project-list-table table-nowrap align-middle table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Nome Usuário</th>
                            <th scope="col">Permisão</th>
                            <th scope="col">Profissional</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>{{usuario.nomeUsuario}}</td>
                            <td>{{usuario.permissao}}</td>
                            <td>{{usuario.profissional}}</td>
                            <td>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a (click)="onOpenModal(usuario, 'edit')" data-placement="top" data-original-title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a (click)="onOpenModal(usuario, 'delete')" data-placement="top" data-original-title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="addUsuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUsuarioModalLabel">Criar Usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button></div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddUsuario(addForm)">
                    <div class="form-group">
                        <label for="nomeUsuario">Nome Usuário*</label>
                        <input type="text" ngModel name="nomeUsuario" class="form-control" id="nomeUsuario" placeholder="Nome Usuário" required>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha*</label>
                        <input type="text" ngModel name="senha" class="form-control" id="senha" placeholder="Senha" required>
                    </div>
                    <div class="form-group">
                        <label for="permissao">Permissão*</label>
                        <select class="form-control" id="permissao" required>
                            <option *ngFor="let permissao of permissoes" [value]="permissao">{{permissao}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="profissional">Profissional*</label>
                        <select class="form-control" id="profissionais" required>
                            <option *ngFor="let profissional of profissionais" [value]="profissional">{{profissional}}</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close-add-Usuario-form" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="editUsuarioModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editUsuarioModalLabel">Editar Usuário</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #editForm="ngForm">
            <div class="form-group" >
                <input type="hidden" ngModel="{{editUsuario.Id}}" name="id" class="form-control" id="id" placeholder="Identificador">
            </div>
            <div class="form-group">
                <label for="nomeUsuario">Nome Usuário*</label>
                <input type="text" ngModel="{{editUsuario.nomeUsuario}}" name="nomeUsuario" class="form-control" id="nomeUsuario" placeholder="Nome Usuário" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha*</label>
                <input type="text" ngModel="{{editUsuario.senha}}" name="senha" class="form-control" id="senha" placeholder="Senha" required>
                </div>
            <div class="form-group">
                <label for="permissao">Permissão*</label>
                <select class="form-control" id="permissao" required>
                    <option *ngFor="let permissao of permissoes" [value]="permissao">{{permissao}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="profissional">Profissional*</label>
                <select class="form-control" id="profissional" required>
                    <option *ngFor="let profissional of profissionais" [value]="profissional">{{profissional}}</option>
                </select>
            </div>
            </form>
        </div>
        <div class="modal-footer">
        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
        <button (click)="onUpdateUsuario(editForm.value)" data-dismiss="modal" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="deleteUsuarioModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="deleteUsuarioModalLabel">Apagar Usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <p>Você tem certeza que quer apagar o usuário {{deleteUsuario.nomeUsuario}}?</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <button (click)="onDeleteUsuario(deleteUsuario.Id)" class="btn btn-danger" data-dismiss="modal">Sim</button>
        </div>
    </div>
</div>
</div>