<div class="container" id="main-container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <h2 style="padding-top:10px">Resultados</h2>
        </div>
        <div class="col-md-4">
            <form class="form-inline" style="padding-top:10px">
                <input type="search" (ngModelChange)="searchResultados(key.value)" #key="ngModel" ngModel
                    name="key" id="searchName" class="form-control mr-sm-2" placeholder="Procurar Resultados..." required>
            </form>
        </div>
        <div class="col-md-4">
            <div class="d-flex align-items-center justify-content-end" style="padding-top:10px">
                <a (click)="onOpenModal(addResultado, 'add')" class="btn btn-primary" style="background-color:#343a40;color:white;border-color:#343a40;"><i class="bx bx-plus me-1"></i>Adicionar</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Prova</th>
                                <th scope="col">Profissional</th>
                                <th scope="col">Nota Obtida</th>
                                <th scope="col">Status Resultado</th>
                                <th scope="col">Certificado</th>
                                <th scope="col" style="width: 200px;">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resultado of resultados">
                                <td>{{resultado.titulo}}</td>
                                <td>{{resultado.prova}}</td>
                                <td>{{resultado.profissional}}</td>
                                <td>{{resultado.notaObtida}}</td>
                                <td>{{resultado.statusResultado}}</td>
                                <td>{{resultado.certificado}}</td>
                                <td>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a (click)="onOpenModal(resultado, 'edit')" data-placement="top" data-original-title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a (click)="onOpenModal(resultado, 'delete')" data-placement="top" data-original-title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Modal -->
    <div class="modal fade" id="addResultadoModal" tabindex="-1" role="dialog" aria-labelledby="addResultadoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addResultadoModalLabel">Criar Resultado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button></div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddResultado(addForm)">
                        <div class="form-group">
                            <label for="titulo">Título*</label>
                            <input type="text" ngModel name="titulo" class="form-control" id="titulo" placeholder="Título" required>
                        </div>
                        <div class="form-group">
                            <label for="prova">Prova*</label>
                            <select class="form-control" id="prova" required>
                                <option *ngFor="let prova of provas" [value]="prova">{{prova}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="profissional">Profissional*</label>
                            <select class="form-control" id="profissional" required>
                                <option *ngFor="let profissional of profissionais" [value]="profissional">{{profissional}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="notaObtida">Nota Obtida*</label>
                            <input type="number" ngModel name="notaObtida" class="form-control" id="notaObtida" placeholder="Nota Obtida" required>
                        </div>
                        <div class="form-group">
                            <label for="statusResultado">Status Resultado*</label>
                            <select class="form-control" id="statusResultado" required>
                                <option *ngFor="let status of statusResultados" [value]="status">{{status}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="certificado">Certificado</label>
                            <select class="form-control" id="certificado">
                                <option *ngFor="let certificado of certificados" [value]="certificado">{{certificado}}</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="close-add-Resultado-form" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editResultadoModal" tabindex="-1" role="dialog" aria-labelledby="editResultadoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editResultadoModalLabel">Editar Resultado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group" >
                        <input type="hidden" ngModel="{{editResultado.Id}}" name="id" class="form-control" id="id" placeholder="Identificador">
                    </div>
                    <div class="form-group">
                        <label for="titulo">Título*</label>
                        <input type="text" ngModel="{{editResultado.titulo}}" name="titulo" class="form-control" id="titulo" placeholder="Título" required>
                    </div>
                    <div class="form-group">
                        <label for="prova">Prova*</label>
                        <select class="form-control" id="prova" required>
                            <option *ngFor="let prova of provas" [value]="prova">{{prova}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="profissional">Profissional*</label>
                        <select class="form-control" id="profissional" required>
                            <option *ngFor="let profissional of profissionais" [value]="profissional">{{profissional}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="notaObtida">Nota Obtida*</label>
                        <input type="text" ngModel="{{editResultado.notaObtida}}" name="notaObtida" class="form-control" id="notaObtida" placeholder="Nota Obtida" required>
                    </div>
                    <div class="form-group">
                        <label for="statusResultado">Status Resultado*</label>
                        <select class="form-control" id="statusResultado" required>
                            <option *ngFor="let status of statusResultados" [value]="status">{{status}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="certificado">Certificado</label>
                        <select class="form-control" id="certificado">
                            <option *ngFor="let certificado of certificados" [value]="certificado">{{certificado}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
            <button (click)="onUpdateResultado(editForm.value)" data-dismiss="modal" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteResultadoModal" tabindex="-1" role="dialog" aria-labelledby="deleteResultadoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteResultadoModalLabel">Apagar Resultado</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que quer apagar o resultado {{deleteResultado.titulo}}?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            <button (click)="onDeleteResultado(deleteResultado.Id)" class="btn btn-danger" data-dismiss="modal">Sim</button>
            </div>
        </div>
    </div>
    </div>
</div>