<div class="container" id="main-container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <h2 style="padding-top:10px">Treinamentos</h2>
        </div>
        <div class="col-md-4">
            <form class="form-inline" style="padding-top:10px">
                <input type="search" (ngModelChange)="searchTreinamentos(key.value)" #key="ngModel" ngModel
                    name="key" id="searchName" class="form-control mr-sm-2" placeholder="Procurar Treinamentos..." required>
            </form>
        </div>
        <div class="col-md-4">
            <div class="d-flex align-items-center justify-content-end" style="padding-top:10px">
                <a (click)="onOpenModal(addTreinamento, 'add')" class="btn btn-primary" style="background-color:#343a40;color:white;border-color:#343a40;"><i class="bx bx-plus me-1"></i>Adicionar</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Status Treinamento</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Turma</th>
                                <th scope="col">Convite</th>
                                <th scope="col">Prova</th>
                                <th scope="col">Palestrante(s)</th>
                                <th scope="col" style="width: 200px;">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let treinamento of treinamentos">
                                <td>{{treinamento.titulo}}</td>
                                <td>{{treinamento.descricao}}</td>
                                <td>{{treinamento.statusTreinamento}}</td>
                                <td>{{treinamento.categoria}}</td>
                                <td>{{treinamento.turma}}</td>
                                <td>{{treinamento.convite}}</td>
                                <td>{{treinamento.prova}}</td>
                                <td>{{treinamento.palestrantes}}</td>
                                <td>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a (click)="onOpenModal(treinamento, 'edit')" data-placement="top" data-original-title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a (click)="onOpenModal(treinamento, 'delete')" data-placement="top" data-original-title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Modal -->
    <div class="modal fade" id="addTreinamentoModal" tabindex="-1" role="dialog" aria-labelledby="addTreinamentoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTreinamentoModalLabel">Criar Treinamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button></div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddTreinamento(addForm)">
                        <div class="form-group">
                            <label for="titulo">Título*</label>
                            <input type="text" ngModel name="titulo" class="form-control" id="titulo" placeholder="Título" required>
                        </div>
                        <div class="form-group">
                            <label for="descricao">Descrição</label>
                            <input type="text" ngModel name="descricao" class="form-control" id="descricao" placeholder="Descrição">
                        </div>
                        <div class="form-group">
                            <label for="statusTreinamento">Status Treinamento*</label>
                            <input type="text" ngModel name="statusTreinamento" class="form-control" id="statusTreinamento" placeholder="Status Treinamento" required>
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoria*</label>
                            <select class="form-control" id="categoria" required>
                                <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="turma">Turma</label>
                            <select class="form-control" id="turma">
                                <option *ngFor="let turma of turmas" [value]="turma">{{turma}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="convite">Convite</label>
                            <select class="form-control" id="convite">
                                <option *ngFor="let convite of convites" [value]="convite">{{convite}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="prova">Prova</label>
                            <select class="form-control" id="prova">
                                <option *ngFor="let prova of provas" [value]="prova">{{prova}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="palestrantes">Palestrante(s)</label>
                            <select class="form-control" id="palestrantes" multiple data-mdb-filter="true">
                                <option *ngFor="let palestrante of profissionais" [value]="palestrante">{{palestrante}}</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="close-add-Treinamento-form" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editTreinamentoModal" tabindex="-1" role="dialog" aria-labelledby="editTreinamentoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTreinamentoModalLabel">Editar Treinamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group" >
                        <input type="hidden" ngModel="{{editTreinamento.id}}" name="id" class="form-control" id="id" placeholder="Identificador">
                    </div>
                    <div class="form-group">
                        <label for="titulo">Título*</label>
                        <input type="text" ngModel="{{editTreinamento.titulo}}" name="titulo" class="form-control" id="titulo" placeholder="Título" required>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <input type="text" ngModel="{{editTreinamento.descricao}}" name="descricao" class="form-control" id="descricao" placeholder="Descrição">
                    </div>
                    <div class="form-group">
                        <label for="statusTreinamento">Status Treinamento*</label>
                        <input type="text" ngModel="{{editTreinamento.statusTreinamento}}" name="statusTreinamento" class="form-control" id="statusTreinamento" placeholder="Status Treinamento" required>
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoria*</label>
                        <select class="form-control" id="categoria" required>
                            <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="turma">Turma</label>
                        <select class="form-control" id="turma">
                            <option *ngFor="let turma of turmas" [value]="turma">{{turma}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="convite">Convite</label>
                        <select class="form-control" id="convite">
                            <option *ngFor="let convite of convites" [value]="convite">{{convite}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="prova">Prova</label>
                        <select class="form-control" id="prova">
                            <option *ngFor="let prova of provas" [value]="prova">{{prova}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="palestrantes">Palestrante(s)</label>
                        <select class="form-control" id="palestrantes" multiple data-mdb-filter="true">
                            <option *ngFor="let palestrante of profissionais" [value]="palestrante">{{palestrante}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
            <button (click)="onUpdateTreinamento(editForm.value)" data-dismiss="modal" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteTreinamentoModal" tabindex="-1" role="dialog" aria-labelledby="deleteTreinamentoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteTreinamentoModalLabel">Apagar Treinamento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que quer apagar o treinamento {{deleteTreinamento.titulo}}?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            <button (click)="onDeleteTreinamento(deleteTreinamento.id)" class="btn btn-danger" data-dismiss="modal">Sim</button>
            </div>
        </div>
    </div>
    </div>
</div>